*.exe
*.mdb
*.dll
*.bak
*.tmp
bin
*.tar.gz
*.userprefs
*.pidb
test-results
*.log
ml100k
ml1m
doxygen
doc/immdoc
src/MovieDemo/german-aka-titles-utf8.list
src/MovieDemo/german-aka-titles.list
src/MovieDemo/bmf.model
