*~
*.exe
*.mdb
*.dll
*.bak
*.tmp
bin
*.tar.gz
*.userprefs
*.pidb
test-results
*.log
doxygen
doc/immdoc
src/Programs/MovieDemo/ml1m-bmf.model
src/Programs/MovieDemo/ml10m-bmf.model
src/Programs/MovieDemo/saved_data
src/Programs/MovieDemo/gtk-gui/*.cs
data/*
lib/mymedialite/*
obj
src/TestResult.xml
*.bin.Ratings
