body {
    color: black; background-color: white;
    h1 {
        text-align: center;
    }   
    font-size: 100.01%;
    font-family: Helvetica,Arial,sans-serif;
    margin: 0; padding: 1em;
    min-width: 41em;
}

.centered {
    text-align: center;
}
.alignright {
    text-align: right;
}

.figure {
    float: left;
    margin-right: 20px; margin-bottom: 20px;
    border: none;
    text-align: center;
}

.newparagraph { 
    clear: left;
}

h1 {
    font-size: 1.5em;
    margin: 0 0 0.7em; padding: 0.3em;
    text-align: center;
    background-color: white;
}

a:link {
    color: #2072ba;
    text-decoration: none;
}
a:visited {
    color: #2072ba; 
    text-decoration: none;
}
a:hover {
    color: #08d374;
    text-decoration: none;
}
a:active {
    color: white;
}

ul#navigation {
    font-size: 1em;
    float: left;
    width: 9em;
    margin: 0 0 1.2em; padding: 0;
    border: 1px dashed silver;
}
ul#navigation li {
    list-style: none;
    margin: 0; padding: 0.5em;
}
ul#navigation a {
    display: block;
    padding: 0.2em;
    font-weight: bold;
}
ul#navigation a:link {
    color: #2072ba;
}
ul#navigation a:visited {
    color: #2072ba;
}
ul#navigation a:hover {
    color: #08d374;
    background-color: white;
}
ul#navigation a:active {
    color: white;
}
ul#navigation li ul {
    margin: 0 0 0 0.5em; padding: 0;
}
ul#navigation li ul li {
    margin: 0.1em 0;
    font-size: 0.83em;
}
* html ul#navigation li ul li {  /* for IE 5.x */
    margin-left: 1em;
    ma\rgin-left: 0;
}

div#infobox {
    font-size: 0.9em;
    float: right; width: 12em;
    margin: 0 0 1.1em; padding: 0;
    border: 1px dashed silver;
}

div#infobox h2 {
    font-size: 1.33em;
    margin: 0.2em 0.5em;
}
div#infobox p {
    font-size: 1em;
    margin: 0.5em;
}

div#rightcolumn {
    font-size: 0.9em;
    float: right;
    width: 12em;
    margin: 0 0 1.1em; padding: 0;
    background-color: white; border: none;
}
div#rightcolumn h2 {
    font-size: 1.33em;
    margin: 0.2em 0.5em;
}
div#rightcolumn p {
    font-size: 1em;
    margin: 0.5em;
}
div#rightcolumn div#aktuell {
    background-color: lightgrey;
    border: 1px dashed silver;
}
div#rightcolumn div {
    background-color: #eee;
    border: 1px dashed silver;
}

div#content {
    margin: 0 11.5em 1em 10em;
    padding: 0 1em;
    border: 1px dashed silver;
}
* html div#content {
    height: 1em;  /* workaround for the 3 pixel bug of Internet Explorer until version 6 */
}
div#content h2 {
    font-size: 1.2em;
    margin: 0.2em 0;
}
div#content h3 {
    font-size: 1.0em;
    margin: 0.2em 0;
}
div#content p {
    font-size: 1em;
    margin: 1em 0;
}
div#content a:link {
    color: #2072ba; /* MyMedia blue */
}
div#content a:visited {
    color: #2072ba; /* MyMedia blue */
}
div#content a:hover {
    color: #08d374; /* MyMedia cyan */
}
div#content a:active {
    color: white; background-color: gray;
}

div#highlight {
    color: #08d374; /* MyMedia cyan */
}

p#bottom {
    clear: both;
    font-size: 0.9em;
    margin: 0; padding: 0.1em;
    text-align: center;
    background-color: white; border: none;
}

div#content pre {
    overflow: auto;
}
